html,
body {
    height: 100%;
}


.btn {
	    margin-bottom: 10px;
}

button.btn {
	margin-bottom: 0px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
        padding: 85px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.auto-model-box, .driver-model-box {
	display: none;
}



@media (min-width: 1400px) {
	.container {	
		width: 100%;
	}

}


@media (min-width: 1600px) {
	.container {	
		width: 100%;
	}

}


.padding-new-15 {
	padding-left: 15px;
	padding-right:15px;
}


.karta-vod {
	display: none;
}


.karta-vod.active{
	display: block;
}


.karta-auto {
	display: none;
}


.karta-auto.active{
	display: block;
}


.pmts-wr {
	display: none;
}

.payment-box-1 {
	display: block;
}

.table td a {
	padding: 5px;
    background: #337ab7;
    color: #fff;
    border-radius: 5px;
}






#marks-name_mark, #models-name,
#automobilesnewmodel-vin,
#automobilesnewmodel-pts,
#automobilesnewmodel-sts,
#automobilesnewmodel-gosnomer,
#autoparams-param_sts,
#autoparams-param_gosnomer {
	text-transform: uppercase;
}


@media (max-width: 992px) {
	
	
	body {
		font-size: 12px;
	}
	
	.grid-view {
		overflow: scroll;
	}
	
	h1, .h1 {
		font-size: 26px;
	}
	
	
	h2, .h2 {
		
		font-size: 22px;
	}
	
	
	h3, .h3 {
		font-size: 18px;
	}
	
	p {
		font-size: 14px;
	}
	
	
	
	
}


@media (min-width: 1200px) {
	.container {
		width: 95%;
	}
}


@media print {
	
	.breadcrumb {
		display: none;
	}
	
	
	.buts {
		display: none;
	}
	
	
	a[href]:after {
		content: "";
	}
	
	footer {
	    display: none;
	}
	
	
}
